/* Input type text fields */
input[type=text] {
    width: 87%;
    padding: 10px 8px 14px 14px;
    margin: 15px 101px -39px 11px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    color: forestgreen;
}

/* submit type Css */
input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
input[type=button] {
    width: 10%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 31px 11px 15px;
    margin: 7px 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #d5f1e9;
    padding: 20px;
}

label {
    color: #080ef1;
    padding: 8px;
    font-size: 20px;
}